syntax = "proto3";

package {{.Package}};

option go_package = "{{.GoPackage}}";

import "google/api/annotations.proto";

message GetResourceRequest {
  string id = 1;
}

message CreateResourceRequest {
  Resource resource = 1;
}

message UpdateResourceRequest {
  string id = 1;
  Resource resource = 2;
}

message PatchResourceRequest {
  string id = 1;
  ResourcePatch patch = 2;
}

message DeleteResourceRequest {
  string id = 1;
}

message Resource {
  string id = 1;
  string name = 2;
  string description = 3;
}

message ResourcePatch {
  optional string name = 1;
  optional string description = 2;
}

message DeleteResourceResponse {
  string id = 1;
  bool success = 2;
}

service {{.ServiceName}} {
  rpc GetResource(GetResourceRequest) returns (Resource) {
    option (google.api.http) = {
      get: "/advanced/resources/{id}"
    };
  }
  
  rpc CreateResource(CreateResourceRequest) returns (Resource) {
    option (google.api.http) = {
      post: "/advanced/resources"
      body: "*"
    };
  }
  
  rpc UpdateResource(UpdateResourceRequest) returns (Resource) {
    option (google.api.http) = {
      put: "/advanced/resources/{id}"
      body: "resource"
    };
  }
  
  rpc PatchResource(PatchResourceRequest) returns (Resource) {
    option (google.api.http) = {
      patch: "/advanced/resources/{id}"
      body: "patch"
    };
  }
  
  rpc DeleteResource(DeleteResourceRequest) returns (DeleteResourceResponse) {
    option (google.api.http) = {
      delete: "/advanced/resources/{id}"
    };
  }
}