syntax = "proto3";

package {{.Package}};

option go_package = "{{.GoPackage}}";

import "google/api/annotations.proto";

// Service that would typically have OpenAPI annotations too
service {{.ServiceName}} {
  rpc GetResource(GetResourceRequest) returns (Resource) {
    option (google.api.http) = {
      get: "/resources/{id}"
    };
  }
}

message Resource {
  string id = 1;
  string name = 2;
}

message GetResourceRequest {
  string id = 1;
}